#cuadradoRojo{
 background-color: red;
 width: 400px;
 height: 400px;
 position: absolute;
 left: 0;
 top: 0;

}
#cuadradoMorado{
    background-color:purple;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 100px;
    top: 100px;
}
#cuadradoAmarillo{
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100px;
    top: 100px;
}


